.Rproj.user
.Rhistory
.RData
.Ruserdata

.ipynb_checkpoints

/.quarto/
/.jupyter/
/.jupyter-cache/
/.vscode/

/*_files/

/_book/
/_site/
/_freeze/

*.html

**/*.quarto_ipynb

Untitled.ipynb

cylinder_in_hom_field.ipynb

.jupyter_cache/
